transformers>=4.39,<5
accelerate>=0.28
soundfile>=0.12
huggingface_hub==0.30.2
librosa>=0.11
numpy<2
pydub>=0.25
inflect>=7
unidecode>=1.3
langid>=1.1
eng_to_ipa==0.0.2
pypinyin==0.50.0
cn2an==0.5.22
jieba==0.42.1
python-dotenv>=1.0
faster-whisper>=0.9
whisper-timestamped>=1.14
wavmark>=0.0.3
torchvision==0.19.0
diffusers==0.32.2
safetensors>=0.4
pillow>=10
sentencepiece>=0.2
